.task-container {
  /* background: steelblue; */
  border-color: black;
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.task-text {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 24px;
  margin-bottom: 16px;
}

.task-btn {
  display: flex;
  justify-content: space-evenly;
}