.task-container {
  /* background: steelblue; */
  border-color: black;
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.task-text {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 24px;
  margin-bottom: 16px;
}

.task-text input {
  margin-top: 5px;
  margin-right: 7px;
  margin-left: 7px;
  width: 40%;
}

.task-btn {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}